{% extends 'base.html' %}
{% block content %}
    <div class="group-form">
        {% if ticket.id == None %}
        <h2>Create a review</h2>
        <form method="post" > 
            {{ review_form.as_p }}
            {% csrf_token %}
            
            <button type="submit" class="btn btn-primary m-2">Publier</button>
        </form>
        {% elif ticket.id  %}
            <h2>Create a review</h2>
            <form method="post" > 
                {{ review_form.as_p }}
                {% csrf_token %}
                
                <button type="submit" class="btn btn-primary m-2">Publier</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}